.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 20px;
}

.button {
    width: 10vw;
    height: 5vh;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 1.8s ease;
    font-size: 1em;
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.2)
}

.bgBlue {
    background-color: #32ABDB;
    color: white;
}

.bgGray {
    background-color: #6c757d;
    color: white;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.formContainer {
    margin-top: 20px;
}

.sectionTitle1 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(16, 13, 13);
    background-color: #32ABDB;
    max-width: 13vw;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
}

.sectionTitle2 {
    margin-top: 7vh;
    margin-bottom: 10px;
    color: rgb(16, 13, 13);
    background-color: #32ABDB;
    max-width: 8vw;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.inputField {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 6px;
    border: rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
    transition: border-color 0.3s ease;
    color: black;
}

.inputFieldSmall {
    display: flex;
    width: 20%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    border: rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
    transition: border-color 0.3s ease;
    color: black;
}

.inputField:focus {
    border-color: #007bff;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttonEnviar {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonEnviar:hover {
    background-color: #0056b3; 
  }