
:root {
  --sidebar-bg: #cfcfcf;
  --base-clr: #ffffff;
  --line-clr: #cccccc;
  --hover-clr: #f0f0f0;
  --text-clr: #111111;
  --accent-clr: #007bff;
  --secondary-text-clr: #555555;
  --background: var(--base-clr);
  --foreground: var(--text-clr);
  --section-bg: #b3b3b3; 
  --switch-background: #ccc; 
  --switch-border: #999;
  --switch-checked-background: #2196F3;
  --switch-checked-border: #1976D2;
  --button-background: #007bff;
  --button-blue-background: #2196F3;
}

[data-theme="dark"] {
  --sidebar-bg: #2b2b2b;
  --base-clr: #242424;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #ffffff;
  --secondary-text-clr: #b0b3c1;
  --background: var(--base-clr);
  --foreground: var(--text-clr);
  --section-bg: #444444;
  --switch-background: #444;
  --switch-border: #666;
  --switch-checked-background: #2196F3;
  --switch-checked-border: #1976D2;
  --button-background: #555;
  --button-blue-background: #2196F3;
}


html,


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.main-layout,
.simple-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout main,
.simple-layout main {
  flex-grow: 1;
}
