/* CalendarPage.module.css */

.calendarContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #f9f9f9;
}

.sidebar {
  width: 250px;
  background-color: #4a90e2;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.calendarWrapper {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Estilização adicional para o calendário */
.fc {
  font-family: Arial, sans-serif;
}

.fc-daygrid-event {
  background-color: #4a90e2;
  color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 2px 0;
}

.fc-daygrid-event:hover {
  background-color: #357ab8;
}