/* CalendarPage.module.css */

.calendarContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--background-color);
}

.sidebar {
  width: 250px;
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.calendarWrapper {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--section-bg);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
}


.fc {
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

.fc-daygrid-event {
  background-color: var(--button-blue-background);
  color: white;
  border-radius: 4px;
  padding: 5px;
  margin: 2px 0;
}

.fc-daygrid-event:hover {
  background-color: var(--button-background);
}

/* Responsividade */
@media (max-width: 1024px) {
  .calendarContainer {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: none;
  }

  .calendarWrapper {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
    text-align: center;
  }

  .fc {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .calendarWrapper {
    padding: 5px;
  }

  .title {
    font-size: 18px;
  }
}
.darkTheme {
  --background-color: #1e1e1e;
  --text-color: #f9f9f9;
  --text-color-secondary: #ccc;
  --sidebar-bg: #333333; 
  --switch-background: #555555;
  --switch-checked-background: #2196F3;
  --button-background: #555;
  --button-blue-background: #2196F3;
}

.lightTheme {
  --background-color: #f9f9f9;
  --text-color: #333;
  --text-color-secondary: #666;
  --sidebar-bg: #b3b3b3; 
  --switch-background: #ccc;
  --switch-checked-background: #2196F3;
  --button-background: #007bff;
  --button-blue-background: #2196F3;
}
