.mainLayout {
  color: black;
  padding-top: 50px; 
  background-color: #e3f2fd;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.mainContent {
  flex: 1;
  background-color: #b9daff; 
  padding: 50px;
  overflow-y: auto;
}
